.elementor-301 .elementor-element.elementor-element-5573a8ee>.elementor-container {
    max-width: 882px;
}

.elementor-301 .elementor-element.elementor-element-5573a8ee:not(.elementor-motion-effects-element-type-background),
.elementor-301 .elementor-element.elementor-element-5573a8ee>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-301 .elementor-element.elementor-element-5573a8ee {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-301 .elementor-element.elementor-element-5573a8ee>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-23b46734 {
    text-align: center;
}

.elementor-301 .elementor-element.elementor-element-23b46734 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-301 .elementor-element.elementor-element-5b2907e4>.elementor-widget-container {
    margin: -42px -42px -42px -42px;
}

.elementor-301 .elementor-element.elementor-element-14c02a8e>.elementor-container {
    max-width: 699px;
}

.elementor-301 .elementor-element.elementor-element-14c02a8e:not(.elementor-motion-effects-element-type-background),
.elementor-301 .elementor-element.elementor-element-14c02a8e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-301 .elementor-element.elementor-element-14c02a8e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-301 .elementor-element.elementor-element-14c02a8e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-268b399a img {
    width: 100%;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #000000;
}

.elementor-301 .elementor-element.elementor-element-a7364ba .elementor-button .elementor-align-icon-right {
    margin-left: 12px;
}

.elementor-301 .elementor-element.elementor-element-a7364ba .elementor-button .elementor-align-icon-left {
    margin-right: 12px;
}

.elementor-301 .elementor-element.elementor-element-a7364ba .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: 0.4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #17AD00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 1px 0px 12px 0px #000000;
    padding: 27px 40px 27px 40px;
}

.elementor-301 .elementor-element.elementor-element-a7364ba>.elementor-widget-container {
    margin: -5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 3px 3px 3px 3px;
}

.elementor-301 .elementor-element.elementor-element-638ef63f {
    --spacer-size: 10px;
}

.elementor-301 .elementor-element.elementor-element-6729990>.elementor-container {
    max-width: 903px;
}

.elementor-301 .elementor-element.elementor-element-6729990>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-301 .elementor-element.elementor-element-6729990:not(.elementor-motion-effects-element-type-background),
.elementor-301 .elementor-element.elementor-element-6729990>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-301 .elementor-element.elementor-element-6729990 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-301 .elementor-element.elementor-element-6729990>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-bb5ce35:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-301 .elementor-element.elementor-element-bb5ce35>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-301 .elementor-element.elementor-element-bb5ce35>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-301 .elementor-element.elementor-element-bb5ce35>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-2c3dd893 {
    text-align: justify;
    color: #010101;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    z-index: 0;
}

.elementor-301 .elementor-element.elementor-element-2c3dd893>.elementor-widget-container {
    margin: 45px 45px 45px 45px;
    padding: 0px 0px 0px 0px;
}

.elementor-301 .elementor-element.elementor-element-5e321837>.elementor-background-overlay {
    background-color: #FFFFFF00;
    opacity: 0.57;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-5e321837 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-301 .elementor-element.elementor-element-4d8e2cc4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-301 .elementor-element.elementor-element-4d8e2cc4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-301 .elementor-element.elementor-element-4d8e2cc4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-301 .elementor-element.elementor-element-4d8e2cc4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-38854f8d .elementor-button .elementor-align-icon-right {
    margin-left: 18px;
}

.elementor-301 .elementor-element.elementor-element-38854f8d .elementor-button .elementor-align-icon-left {
    margin-right: 18px;
}

.elementor-301 .elementor-element.elementor-element-38854f8d .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #17AD00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.95);
    padding: 27px 80px 27px 80px;
}

.elementor-301 .elementor-element.elementor-element-38854f8d>.elementor-widget-container {
    margin: 0em 0em 0em 0em;
}

.elementor-301 .elementor-element.elementor-element-3d339b6b:not(.elementor-motion-effects-element-type-background),
.elementor-301 .elementor-element.elementor-element-3d339b6b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-301 .elementor-element.elementor-element-3d339b6b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-301 .elementor-element.elementor-element-3d339b6b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-301 .elementor-element.elementor-element-28c98fc7 {
    --spacer-size: 284px;
}

.elementor-301 .elementor-element.elementor-element-63bb7b8f {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

body.elementor-page-301 {
    padding: 0px 0px 0px 0px;
}

body.elementor-page-301:not(.elementor-motion-effects-element-type-background),
body.elementor-page-301>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(200deg, #C8C6C6 0%, #424242 100%);
}

@media(min-width:768px) {
    .elementor-301 .elementor-element.elementor-element-55204d7b {
        width: 100%;
    }
    .elementor-301 .elementor-element.elementor-element-3378e597 {
        width: 100%;
    }
    .elementor-301 .elementor-element.elementor-element-bb5ce35 {
        width: 100%;
    }
    .elementor-301 .elementor-element.elementor-element-4d8e2cc4 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-301 .elementor-element.elementor-element-268b399a img {
        width: 65%;
    }
    .elementor-301 .elementor-element.elementor-element-a7364ba>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-301 .elementor-element.elementor-element-5e321837 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-301 .elementor-element.elementor-element-38854f8d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-301 .elementor-element.elementor-element-268b399a img {
        width: 100%;
    }
    .elementor-301 .elementor-element.elementor-element-84c9cdf {
        text-align: center;
    }
    .elementor-301 .elementor-element.elementor-element-84c9cdf>.elementor-widget-container {
        margin: -8px -8px -8px -8px;
    }
    .elementor-301 .elementor-element.elementor-element-a7364ba .elementor-button {
        font-size: 17px;
        border-width: 3px 3px 3px 3px;
        padding: 20px 24px 20px 24px;
    }
    .elementor-301 .elementor-element.elementor-element-a7364ba>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-301 .elementor-element.elementor-element-6729990 {
        margin-top: -8px;
        margin-bottom: 0px;
    }
    .elementor-301 .elementor-element.elementor-element-2c3dd893 {
        font-size: 15px;
    }
    .elementor-301 .elementor-element.elementor-element-2c3dd893>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-301 .elementor-element.elementor-element-5e321837 {
        margin-top: -24px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-301 .elementor-element.elementor-element-38854f8d .elementor-button {
        font-size: 19px;
        line-height: 1.1em;
        letter-spacing: 0px;
        padding: 20px 22px 21px 23px;
    }
    .elementor-301 .elementor-element.elementor-element-38854f8d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-301 .elementor-element.elementor-element-63bb7b8f {
        font-size: 12px;
    }
}